<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="banking suit">
	<listeners>
			<listener class-name="com.banking.Utilities.Reporting"/>
	</listeners>
		<test name="banking test suit">
		
			<parameter name="browser" value="chrome"/>
			<packages>
				<package name="com.banking.testCases.*"/>
			</packages>
	</test>
</suite>